<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="https://{{ site.domain|cut:":8000"  }}/favicon.ico">

        <title>{{ site.name }} {% if title %}{{ title }}{% endif %}</title>

        <link href="https://{{ site.domain|cut:":8000" }}/css/bootstrap.css" rel="stylesheet">
        <link href="https://{{ site.domain|cut:":8000"  }}/static/account.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% if form.errors %}<div class="control-group has-error">{% else %}<div class="control-group">{% endif %}
            <form class="form-signin" method="post" action="/signin/">
                {% csrf_token %}
                {% load widget_tweaks %}
                {% if form.non_field_errors %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <p>{{ form.non_field_errors.as_text|cut:"* " }}</p>
                </div>
                {% endif %}
                {% render_field form.email  class="form-control top" Placeholder="Email address" required="True" autofocus="True" %}
                {% render_field form.password class="form-control bottom" Placeholder="Password" required="True" %}
                <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Sign in</button>
                <input type="hidden" name="next" value="{{ next }}">
                <p class="text-center">Don't have an account? Register <a href={% url 'accounts:register' %}>here.</a></p>
            </form>
        </div>
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="https://{{ site.domain|cut:":8000"  }}/js/bootstrap.js"></script>
    </body>
</html>